@{
    // Layout = null;
    ViewBag.Title = "Studentski hotel Studentikus";

}

<br />
<br />
<h1 style="color:darksalmon"><b>EVIDENCIJA REZERVACIJA RESTORANA</b></h1>
<br />
<br />

<a href="/ModulRecepcioner/Restorani/Prikazi" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
    </span>
    Prikaži rezervacije restorana
</a>
<br />
<br />
<a href="/ModulRecepcioner/Restorani/Dodaj" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class=" glyphicon glyphicon-plus" aria-hidden="true">
    </span>
    Dodaj novu rezervaciju restorana
</a>


