@{
    //Layout = null;
}

<br />
<br />
<h1 style="color:darkred"><b>MODUL ZA DOMARA</b></h1>
<br />
<br />

<a href="/ModulDomar/Domar/Prikazi" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
    </span>

   Prikaži inventare
</a>
<br />
<br />

<a href="/ModulDomar/Domar/Dodaj" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class="glyphicon glyphicon-th-list " aria-hidden="true">
    </span>

    Dodaj inventar
</a>



