<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  
    <connectionStrings>
        <add name="Studentikus_DAL.Properties.Settings.si001_studentConnectionString1"
            connectionString="Data Source=app.fit.ba,1434;Initial Catalog=si001_student;User ID=si001_student2;Password=Test.123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>