<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Studentikus_UI.Properties.Settings.si001_studentConnectionString"
            connectionString="Data Source=app.fit.ba,1434;Initial Catalog=si001_student;User ID=si001_student2;Password=Test.123"
            providerName="System.Data.SqlClient" />
        <add name="Studentikus_UI.Properties.Settings.si001_studentConnectionString1"
            connectionString="Data Source=app.fit.ba,1434;Initial Catalog=si001_student;User ID=si001_student2;Password=Test.123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>