@{
    // Layout = null;
    ViewBag.Title = "Studentski hotel Studentikus";

}

<br />
<br />
<h1 style="color:darksalmon"><b>EVIDENCIJA OBROKA</b></h1>
<br />
<br />


<a href="/ModulRecepcioner/Obrok/Dodaj" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class="glyphicon glyphicon-th-list " aria-hidden="true">
    </span>

    Evidentiraj novi obrok
</a>
<br />
<br />
<a href="/ModulRecepcioner/Obrok/Prikazi" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
    </span>

    Prikaži evidentirane obroke
</a>