@{
    //Layout = null;
}

<br />
<br />
<h3><b>EVIDENCIJA UPLATA</b></h3>
<br />
<a href="/ModulRacunovodja/Uplate/Prikazi" class="btn btn-default btn-lg">
    <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
    </span>

    Prikaži evidentirane upldate
</a>
</br>
</br>
</br>

<a href="/ModulRacunovodja/Uplate/Dodaj" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-th-list " aria-hidden="true">
    </span>

    Dodaj novu uplatu
</a>
