<h1 style="color:darkred"><b><template>MODUL ZA RECEPCIONERA</template></b></h1>
</br>
<div>
    <a href="/ModulRecepcioner/Student/" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-fullscreen" aria-hidden="true">
        </span>
        Upravljanje studentima
    </a>

    <a href="/ModulRecepcioner/Korisnik/" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-fullscreen" aria-hidden="true">
        </span>
        Svi korisnici studentskog hotela
    </a>
    <a href="/ModulRecepcioner/Desavanja/" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-fullscreen" aria-hidden="true">
        </span>
        Dešavanja u hotelu
    </a>
    <br />
    <br />
    <br />
    <a href="/ModulRecepcioner/Kljuc" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-check" aria-hidden="true">
        </span>
        Evidencija ključeva
    </a>
    <a href="/ModulRecepcioner/ZaduzenjaKljuca" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-check" aria-hidden="true">
        </span>
        Zaduženja ključeva
    </a>
    <a href="/ModulRecepcioner/Obrok" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-check" aria-hidden="true">
        </span>
        Evidencija obroka
    </a>


    <br />
    <br />
    <br />
   
    <a href="/ModulRecepcioner/Rezervacije" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-check" aria-hidden="true">
        </span>
        Rezervacija soba
    </a>
    <a href="/ModulRecepcioner/Restorani" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-check" aria-hidden="true">
        </span>
        Rezervacija restorana
    </a>
    <a href="/ModulRecepcioner/Sala" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-check" aria-hidden="true">
        </span>
        Rezervacija sale
    </a>
   
   
    <br />
    <br />
    <br />
   
</div>
