@{
    // Layout = null;
    ViewBag.Title = "Studentski hotel Studentikus";

}


<br />
<br />
<h1 style="color:darksalmon"><b>EVIDENCIJA KLJUČEVA</b></h1>
<br />
<br />


<a href="/ModulRecepcioner/Kljuc/Dodaj" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class="glyphicon glyphicon-th-list " aria-hidden="true">
    </span>

    Evidentiraj novi ključ
    </a>
<br />
<br />
    <a href="/ModulRecepcioner/Kljuc/Prikazi" class="btn btn-default btn-lg" style="color:darksalmon">
        <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
        </span>

        Prikaži evidentirane ključeve
    </a>

