@{
    // Layout = null;
    ViewBag.Title = "Studentski hotel Studentikus";

}


<br />
<br />
<h1 style="color:darksalmon"><b>Rezervacije soba</b></h1>
<br />
<br />

<a href="/ModulRecepcioner/Rezervacije/Prikazi" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
    </span>

    Pretraga rezervacija
</a>
<br />
<br />

<a href="/ModulRecepcioner/Rezervacije/Prikazi2" class="btn btn-default btn-lg" style="color:darksalmon">
    <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
    </span>

   Pregled rezervacija soba
</a>
