@*<br />
<h2> Uprava </h2>

<div>


    <a href="/ModulUprava/Uloga/Prikazi" class="btn btn-default btn-lg">
        <span class=" glyphicon glyphicon-wrench" aria-hidden="true">
        </span>

        Korisničke uloge
    </a>

    <a href="/ModulUprava/Zaposlenik/Prikazi" class="btn btn-default btn-lg">
        <span class=" glyphicon glyphicon-user" aria-hidden="true">
        </span>

        Upravljanje zaposlenicima
    </a>

    <a href="/ModulUprava/Desavanja/Index" class="btn btn-default btn-lg">
        <span class=" glyphicon glyphicon-list-alt" aria-hidden="true">
        </span>

      Pregled dešavanja u hotelu
    </a>


</div>*@